html,
body {
    height: 100%;
}


#home {
    height: 100%;
}
#home-cover {

    height: 100%;
    width: 100%;
    background-size: cover;
    background-image:  url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home-content-box {
    height: 100%;
    width: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
      animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse;
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    text-transform: capitalize;
 
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}



.div{background-color:#000!important}
.aofap{padding-top: 8px;padding-left:0px;}
.w3-xxxlarge{font-size:48px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-paddingB{padding:8px 8px 8px 0px}
.w3-paddingA{padding:8px 0px 8px 8px}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-opacity-min{opacity:0.75}
.w3-text-light-grey{color:#f1f1f1}


#home-heading h3 span{
	display: inline-flex;
	color: white;

}

#home-heading h3 span:nth-child(even){
	overflow: hidden;
	transition: ease-in-out 0.5s;
	color: #fff;
	border-bottom: 8px solid #a1ff34;
	letter-spacing: -1em;
}

#home-heading h3:hover span:nth-child(even){
	letter-spacing: 0;
  padding-right:16px;
	cursor: pointer;
}

#home-heading h3:hover span:nth-child(2){
	transition-delay: 0s;

}
#home-heading h3:hover span:nth-child(3){
	padding-right:0px;

}
#home-heading h3:hover span:nth-child(4){
	transition-delay: 0.5s;

}

#home-heading h3:hover span:nth-child(6){
	transition-delay: 1s;
}




/* BOXES */







/*--------*/
section#home_six_boxs {
    margin-top: -15px;
    margin-bottom: 150px;
}
.home_six_box_item {
	padding-bottom: 30px;
}
.home_six_box_content {
	position: relative;
    height: 100%
}
.home_six_box_bg_img {
	background-color: #ffffff;
    height: 214px;
	-webkit-transition: background-color .5s, box-shadow .5s;
	-moz-transition: background-color .5s, box-shadow .5s;
	transition: background-color .5s, box-shadow .5s;
    
}
.home_six_box_content:hover .home_six_box_bg_img {
	background-color: #0099dc;
	box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.35);
}
.home_six_box_bg_img img {
	width: 100%;
    height: 100%;
	opacity: 0.15;
}
.home_six_box_content:hover .six_box_bg_img img {
	opacity: 0.10;
}
.home_six_box_content .home_six_box_icon img:nth-child(2) {
	display: none;
}
.home_six_box_content:hover .home_six_box_icon img:nth-child(2) {
	display: block;
}
.home_six_box_content:hover .home_six_box_icon img:nth-child(1) {
	display: none;
}
.home_six_box_icon {
	position: absolute;
	top: 34px;
	right: 34px;
	width: 86px;
	height: 86px;
	border-radius: 50%;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	transition: background .5s;
	box-shadow: 8px 0 18px 0 rgba(0, 0, 0, 0.10);
}
.farm_icon {
	background: url('../images/farm_to_shelf_gold.png');
}
.home_six_box_content:hover .farm_icon {
	background: url('../images/farm_to_shelf.png');
}
._360_icon {
	background: url('../images/360-icon.png');
}
.home_six_box_content:hover ._360_icon {
	background: url('../images/360-icon-hover.png');
}
._30_icon {
	background: url('../images/30-icon.png');
}
.home_six_box_content:hover ._30_icon {
	background: url('../images/30-icon-hover.png');
}
._1_ht_icon {
	background: url('../images/1-ht-icon.png');
}
.home_six_box_content:hover ._1_ht_icon {
	background: url('../images/1-ht-icon-hover.png');
}
.wtt_icon {
	background: url('../images/wtt-icon.png');
}
.home_six_box_content:hover .wtt_icon {
	background: url('../images/wtt-icon-hover.png');
}
._50_icon {
	background: url('../images/50-icon.png');
}
.home_six_box_content:hover ._50_icon {
	background: url('../images/50-icon-hover.png');
}
.zfw_icon {
	background: url('../images/zfw-icon.png');
}
.home_six_box_content:hover .zfw_icon {
	background: url('../images/zfw-icon-hover.png');
}
.home_six_box_text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.home_six_box_text div {
	padding-right: 110px;
	padding-left: 34px;
}
.home_six_box_text h2 {
	color: #333333;
}
.home_six_box_text p {
	color: #666666;
	line-height: 20px;
	margin-bottom: 6px;
}
.home_six_box_text h2,
.home_six_box_text p {
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	transition: color .5s;
}
.home_six_box_content:hover .home_six_box_text h2 ,
.home_six_box_content:hover .home_six_box_text p {
	color: #ffffff;
}
.max_container {
       max-width:1174px;
    height: 214px;
       position: relative; 
}


/* About Us */


body {
  height: 100vh;
   background: linear-gradient(90deg,#e52e71,#ff8a00);

}

.slider-thumb::before {
	position: absolute;
	content: "";
	left: 30%;
	top: 20%;
	width: 450px;
	height: 450px;
	background: #17141d;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

/*------*/

.title h5 {
	font-family: 'HindVadodaraSemiBold';
	font-size: 18px;
	color: #ead6a9;
	position: relative;
}
.title h5:before {
	content: '';
	position: absolute;
	width: 44px;
	height: 4px;
	background-color: #ead6a9;
}
.left_title_line h5 {
	padding-left: 54px;
}
.left_title_line h5:before {
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.top_left_title_line h5 {
	padding-top: 14px;
}
.top_left_title_line h5:before {
	top: 0;
	left: 0;
}
.top_center_title_line h5 {
	padding-top: 13px;
}
.top_center_title_line h5:before {
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.title h1 {
	font-family: 'HindVadodaraSemiBold';
	font-size: 55px;
	color: azure;
	line-height: 53px;
}
.title h6 {
	font-family: 'HindVadodaraSemiBold';
	font-size: 16px;
	color: aqua;
}
.title h1 span {
	display: block;
}
.no_title_text h5 {
	margin-bottom: 0;
    padding-top: 10px;
}
.blue_text {
	color: #0099dc;
}
.para_text p {
	line-height: 29px;
	padding-top: 5px;
    color: white;
}
.btn {
	font-family: 'HindVadodaraSemiBold';
    font-size: 16px;
	padding-left: 25px;
	padding-right: 25px;
    padding-bottom: 11px;
    padding-top: 9px;
}
.blue_btn {
	background-color: #0099dc!important;
	color: #ffffff!important;
}
.blue_btn:hover {
	background-color: #217dc5!important;
}
.btn-outline-dark {
	border-width: 2px;
	border-color: #333333;
	color: #333333;
}
figure img {
    padding-top: 20px;
	width: 100%;
}


/*Contact Us*/


.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-wide{letter-spacing:4px}
.w3-center{display:inline-block;width:auto;text-align: center}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important;margin-right: 100px;}
.w3-col{float:left;width:100%}
.w3-row{content:"";display:table;clear:both}
.w3-col.m6{width:49.99999%;}
.w3-large{font-size:18px!important;padding-left: 100px;}
.w3-margin-bottom{margin-bottom:16px!important}

.contact{
    background: none;
    margin-top: 150px;
    padding-top: 200px;
    padding-left: 100px;
}
.abc{
    float: right;
}

/* footer */

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  font-family: Lato, sans-serif;
}

footer {
  width:100vw;
  bottom:0px
}
footer div {
  background-color:#4478e3;
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
}
.arrow {
  stroke-width: .3px;
  stroke:yellow;
}
.topball {
  animation: ball 1.5s ease-in-out;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor:pointer;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #4478e3;
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #4478e3;
  stroke-width:0.5;
  opacity:.6; 
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
  	filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  80% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  90% { 
    transform: translateY(10%) ; 
    opacity:.6; 
  }
  100% { 
    transform: translateY(0%) scale(1.5);  
    stroke-width:0.2;
    opacity:0; 
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
@keyframes ball {
  to {transform: translateY(20%);}
}

