html,
body {
    height: 100%;
}


#home {
    height: 100%;
}
#home-cover {

    height: 100%;
    width: 100%;
    background-size: cover;
    background-image:  url(../img/background.jpg);
    background-repeat: no-repeat;
}

#home-content-box {
    height: 100%;
    width: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    text-transform: capitalize;
}
.w3-xxxlarge{font-size:48px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-padding{padding:8px 16px!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-opacity-min{opacity:0.75}
.w3-text-light-grey{color:#f1f1f1!important}




/* BOXES */
section#home_six_boxs {
    margin-top: -50px;
}
.home_six_box_item {
	padding-bottom: 30px;
}
.home_six_box_content {
	position: relative;
    height: 100%
}
.home_six_box_bg_img {
	background-color: #ffffff;
    height: 214px;
	-webkit-transition: background-color .5s, box-shadow .5s;
	-moz-transition: background-color .5s, box-shadow .5s;
	transition: background-color .5s, box-shadow .5s;
    
}
.home_six_box_content:hover .home_six_box_bg_img {
	background-color: #0099dc;
	box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.35);
}
.home_six_box_bg_img img {
	width: 100%;
    height: 100%;
	opacity: 0.15;
}
.home_six_box_content:hover .six_box_bg_img img {
	opacity: 0.10;
}
.home_six_box_content .home_six_box_icon img:nth-child(2) {
	display: none;
}
.home_six_box_content:hover .home_six_box_icon img:nth-child(2) {
	display: block;
}
.home_six_box_content:hover .home_six_box_icon img:nth-child(1) {
	display: none;
}
.home_six_box_icon {
	position: absolute;
	top: 34px;
	right: 34px;
	width: 86px;
	height: 86px;
	border-radius: 50%;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	transition: background .5s;
	box-shadow: 8px 0 18px 0 rgba(0, 0, 0, 0.10);
}
.farm_icon {
	background: url('../images/farm_to_shelf_gold.png');
}
.home_six_box_content:hover .farm_icon {
	background: url('../images/farm_to_shelf.png');
}
._360_icon {
	background: url('../images/360-icon.png');
}
.home_six_box_content:hover ._360_icon {
	background: url('../images/360-icon-hover.png');
}
._30_icon {
	background: url('../images/30-icon.png');
}
.home_six_box_content:hover ._30_icon {
	background: url('../images/30-icon-hover.png');
}
._1_ht_icon {
	background: url('../images/1-ht-icon.png');
}
.home_six_box_content:hover ._1_ht_icon {
	background: url('../images/1-ht-icon-hover.png');
}
.wtt_icon {
	background: url('../images/wtt-icon.png');
}
.home_six_box_content:hover .wtt_icon {
	background: url('../images/wtt-icon-hover.png');
}
._50_icon {
	background: url('../images/50-icon.png');
}
.home_six_box_content:hover ._50_icon {
	background: url('../images/50-icon-hover.png');
}
.zfw_icon {
	background: url('../images/zfw-icon.png');
}
.home_six_box_content:hover .zfw_icon {
	background: url('../images/zfw-icon-hover.png');
}
.home_six_box_text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.home_six_box_text div {
	padding-right: 110px;
	padding-left: 34px;
}
.home_six_box_text h2 {
	color: #333333;
}
.home_six_box_text p {
	color: #666666;
	line-height: 20px;
	margin-bottom: 6px;
}
.home_six_box_text h2,
.home_six_box_text p {
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	transition: color .5s;
}
.home_six_box_content:hover .home_six_box_text h2 ,
.home_six_box_content:hover .home_six_box_text p {
	color: #ffffff;
}
.max_container {
       max-width:1174px;
    height: 214px;
       position: relative; 
}


/* About Us */

.title h5 {
	font-family: 'HindVadodaraSemiBold';
	font-size: 18px;
	color: #ead6a9;
	position: relative;
}
.title h5:before {
	content: '';
	position: absolute;
	width: 44px;
	height: 4px;
	background-color: #ead6a9;
}
.left_title_line h5 {
	padding-left: 54px;
}
.left_title_line h5:before {
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.top_left_title_line h5 {
	padding-top: 14px;
}
.top_left_title_line h5:before {
	top: 0;
	left: 0;
}
.top_center_title_line h5 {
	padding-top: 13px;
}
.top_center_title_line h5:before {
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.title h1 {
	font-family: 'HindVadodaraSemiBold';
	font-size: 55px;
	color: #000000;
	line-height: 53px;
}
.title h6 {
	font-family: 'HindVadodaraSemiBold';
	font-size: 16px;
	color: #000000;
}
.title h1 span {
	display: block;
}
.no_title_text h5 {
	margin-bottom: 0;
    padding-top: 10px;
}
.blue_text {
	color: #0099dc;
}
.para_text p {
	line-height: 29px;
	padding-top: 5px;
}
.btn {
	font-family: 'HindVadodaraSemiBold';
    font-size: 16px;
	padding-left: 25px;
	padding-right: 25px;
    padding-bottom: 11px;
    padding-top: 9px;
}
.blue_btn {
	background-color: #0099dc!important;
	color: #ffffff!important;
}
.blue_btn:hover {
	background-color: #217dc5!important;
}
.btn-outline-dark {
	border-width: 2px;
	border-color: #333333;
	color: #333333;
}
figure img {
    padding-top: 20px;
	width: 100%;
}


/*Contact Us*/


.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-wide{letter-spacing:4px}
.w3-center{display:inline-block;width:auto;text-align: center}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important;margin-right: 100px;}
.w3-col{float:left;width:100%}
.w3-row{content:"";display:table;clear:both}
.w3-col.m6{width:49.99999%;}
.w3-large{font-size:18px!important;padding-left: 100px;}
.w3-margin-bottom{margin-bottom:16px!important}

.contact{
    padding-top: 100px;
    padding-left: 100px;
}
.abc{
    float: right;
}